build/CMakeFiles/
build/cmake_install.cmake
build/CMakeCache.txt
build/curve
build/Makefile
x64/
Texture_output.png
.vscode/
.vs/
Debug/
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/build.make
build/yaml-cpp/CTestTestfile.cmake
build/yaml-cpp/Makefile
build/yaml-cpp/cmake_install.cmake
build/yaml-cpp/libyaml-cpp.a
build/yaml-cpp/CMakeFiles/progress.marks
build/yaml-cpp/CMakeFiles/debuggable.dir/progress.make
build/yaml-cpp/CMakeFiles/format.dir/build.make
build/yaml-cpp/CMakeFiles/format.dir/progress.make
build/yaml-cpp/CMakeFiles/releasable.dir/progress.make
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/CXX.includecache
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/DependInfo.cmake
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/cmake_clean.cmake
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/depend.internal
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/depend.make
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/flags.make
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/link.txt
build/yaml-cpp/CMakeFiles/yaml-cpp.dir/progress.make
